<!--main content start-->

<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    注册记录表
                </div>
                <div class="row w3-res-tb">
                    <div class="col-sm-5 m-b-xs">
                        <select class="input-sm form-control w-sm inline v-middle" id="logs">
                            <option value="0">日志目录</option>
                            <% for(var i=0;i<logs.length;i++){%>
                                <option value="<%=i%>"><%=logs[i]%></option>
                            <% }%>
                        </select>
                        <button class="btn btn-sm btn-default" onclick="Apply_Register()">查看</button>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <!--<div class="col-sm-3">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
                        </div>
                    </div>-->
                </div>
                <div class="table-responsive">
                    <table class="table table-striped b-t b-light" id="table">

                    </table>
                </div>
                <footer class="panel-footer">
                   <!-- <div class="row">

                        <div class="col-sm-5 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                        </div>
                        <div class="col-sm-7 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>-->
                </footer>
            </div>
        </div>
    </section>
</section>

<!--main content end-->